<!doctype html>
{% load static %}
<html>
<head>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css">
    <style type="text/css">
        body {
			background: rgba(0,0,0, 0.5);
            color: white;
        }
        .row {
            width: 100%;
            text-align: center;
        }

        .column {
            display: inline-block;
        }

        .column a {
            width: 10%;
            display: inline-block;
            text-align: center;
        }

        .column a span {
            dispay: block;
            text-align: center;
            transition: ease .35s;
            opacity: 0;
        }

        .column a:hover span {
            opacity: 1;
        }
    </style>

</head>

<body>
<center>
	<div style="border: solid 1px black"><img src="{% static 'img/Pantalla.png' %}" width="500" height="70"/></div>
</center>
<div class="container">
    <div class="row" id="row1">
        <div class="column c1">
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
        </div>
        <div class="column c2">
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
        </div>
        <div class="column c1">
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
        </div>
        <div class="column c2">
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
        </div>
		<div class="column c3">
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
        </div>
		<div class="column c4">
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/sillaR.png' %}" width="60" height="60"/></a>
        </div>
        <div class="column c5">
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
        </div>
        <div class="column c6">
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
        </div>
        <div class="column c6">
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
        </div>
		<div class="column c6">
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
            <a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
			<a><p><span class="s-name">Disponible</span></p><img src="{% static 'img/silla.png' %}" width="60" height="60"/></a>
        </div>

    </div>
</div>

</div>
<a href="../templates/peliculas.html" class="btn btn-primary btn-lg active" role="button">Regresar</a>
<a href="../templates/recibo.html" class="btn btn-primary btn-lg active" role="button">Cancelar</a>
<a href="../templates/comida.html" class="btn btn-primary btn-lg active" role="button">Confiteria</a>
</body>
</html>
