{% extends 'base/base.html' %}
{% block title %}
Cine Jungla
{% endblock %}

{% block header %}
{% endblock %}

{% load static %}

{% block content %}
{% load static %}
<html>
    <title>
        indexCorr
    </title>
    <body>
    <a class="navbar-brand js-scroll-trigger" href="../CineJungla">Inicio</a>
    <a class="navbar-brand js-scroll-trigger" href="../logout">Salir</a>
    <div class="text-center">
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <form method="POST" action="">{% csrf_token %}

            {{el_form.as_p}}

            <input type="submit" value="Registrar">
        </form>
    </div>
    </body>
</html>
{% endblock %}

{% block footer %}
{% endblock %}