<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Documento sin título</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <link rel="stylesheet" type="text/css" href="CSS.css">
    <style type="text/css">
        body {

        .plate {
            color: hotpink;
            background: #000;
            padding: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
        }
    </style>
</head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
      id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="vc_row wpb_row vc_inner vc_row-fluid section destinations inner-container">
    <div class="container">
        <div class="row">
            <div class="wpb_column col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <h2>Multiplex1</h2>
                        <div class="row hotel image-box listing-style2">
                            <div class="col-sm-6 col-sms-6 col-md-3">
                                <article class="box" style="height: auto; min-height: 219px;">
                                    <figure><a href="#" data-post_id="45" class="hover-effect popup-gallery"><img
                                            width="500" height="300" src="../static/img/multiplex1.jpeg"
                                            class="attachment-biggallery-thumb size-biggallery-thumb wp-post-image"
                                            alt=""></a></figure>
                                    <div class="details"><a title="View all"
                                                            href="http://www.soaptheme.net/wordpress/travelo/accommodation/hilton-molino-stucky-venice/"
                                                            class="pull-right button uppercase">select</a>

                                </article>
                            </div>
                            <div class="row">
                                <div class="wpb_column col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <h2>Multiplex2</h2>

                                            <div class="col-sm-6 col-sms-6 col-md-3">
                                                <article class="box" style="height: auto; min-height: 219px;">
                                                    <figure><a href="#" data-post_id="1145"
                                                               class="hover-effect popup-gallery"><img width="500"
                                                                                                       height="300"
                                                                                                       src="../static/img/multiplex2.jpeg"
                                                                                                       class="attachment-biggallery-thumb size-biggallery-thumb wp-post-image"
                                                                                                       alt=""></a>
                                                    </figure>
                                                    <div class="details"><a title="View all"
                                                                            href="http://www.soaptheme.net/wordpress/travelo/accommodation/hotel-alpina/"
                                                                            class="pull-right button uppercase">select</a>

                                                    </div>
                                                </article>
                                            </div>
                                            <div class="row">
                                                <div class="wpb_column col-sm-12">
                                                    <div class="vc_column-inner ">
                                                        <div class="wpb_wrapper">
                                                            <h2>Multiplex3</h2>

                                                            <div class="col-sm-6 col-sms-6 col-md-3">
                                                                <article class="box"
                                                                         style="height: auto; min-height: 219px;">
                                                                    <figure><a href="#" data-post_id="189"
                                                                               class="hover-effect popup-gallery"><img
                                                                            width="500" height="300"
                                                                            src="../static/img/multiplex3.jpeg"
                                                                            class="attachment-biggallery-thumb size-biggallery-thumb wp-post-image"
                                                                            alt=""></a></figure>
                                                                    <div class="details"><a title="View all"
                                                                                            href="http://www.soaptheme.net/wordpress/travelo/accommodation/hotel-colombina/"
                                                                                            class="pull-right button uppercase">select</a>

                                                                    </div>
                                                                </article>
                                                            </div>

                                                            <div class="row">
                                                                <div class="wpb_column col-sm-12">
                                                                    <div class="vc_column-inner ">
                                                                        <div class="wpb_wrapper">
                                                                            <h2>Multiplex4</h2>


                                                                            <div class="col-sm-6 col-sms-6 col-md-3">
                                                                                <article class="box"
                                                                                         style="height: auto; min-height: 219px;">
                                                                                    <figure><a href="#"
                                                                                               data-post_id="209"
                                                                                               class="hover-effect popup-gallery"><img
                                                                                            width="500" height="300"
                                                                                            src="../static/img/multiplex4.jpg"
                                                                                            class="attachment-biggallery-thumb size-biggallery-thumb wp-post-image"
                                                                                            alt=""></a></figure>

                                                                                    <div class="details"><a
                                                                                            title="View all"
                                                                                            href="../static/img/multiplex4.jpeg"
                                                                                            class="pull-right button uppercase">select</a>
                                                                                    </div>
                                                                                </article>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="../templates/peliculas.html"
                                                   class="btn btn-primary btn-lg active" role="button">Escoger
                                                    pelicula</a>
