<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>CineJungla</title>
    <style>
        #form p {
          text-align: center;
        }
        #form label {
          font-size: 20px;
        }
        input[type="radio"] {
          display: none;
        }
        label {
          color: grey;
        }
        .clasificacion {
          direction: rtl;
          unicode-bidi: bidi-override;
        }
        label:hover,
        label:hover ~ label {
          color: orange;
        }
        input[type="radio"]:checked ~ label {
          color: orange;
        }
    </style>
</head>
<body class="bg-light">
<a class="navbar-brand js-scroll-trigger" href="../CineJungla">Inicio</a>
<a class="navbar-brand js-scroll-trigger" href="../logout">Salir</a>
<div class="container" style=" width: 100%;">
        <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Su carro</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Multiplex</h6>
                        <small class="text-muted">{{multiplex}}</small>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Pelicula</h6>
                        <small class="text-muted">{{pelicula}}</small>
                    </div>
                </li>
                {% for silla in lista %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Silla</h6>
                        <small class="text-muted">{{silla.id}}</small>
                    {% if silla.tipo_silla == 'G' %}
                        <small class="text-muted">General</small></div>
                        <span class="text-muted">$11.000</span>
                    {% else %}
                        <small class="text-muted">Preferencial</small></div>
                        <span class="text-muted">$12.000</span>
                    {% endif %}
                </li>
                {% endfor %}
                {% if cliente.puntos_cliente >= 100 %}
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Descuento</h6>
                        <small>Puntos</small>
                    </div>
                    <span class="text-success">-$11.000</span>
                </li>
                {% endif %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (COL)</span>
                    <strong>$ {{total}}</strong>
                </li>
            </ul>
            <hr class="mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Calificación</span>
            </h4>
            <center>
                <p class="clasificacion">
                    <input id="radio1" type="radio" name="estrellas" value="5" style="display:none;">
                    <label for="radio1">★</label>
                    <input id="radio2" type="radio" name="estrellas" value="4">
                    <label for="radio2">★</label>
                    <input id="radio3" type="radio" name="estrellas" value="3">
                    <label for="radio3">★</label>
                    <input id="radio4" type="radio" name="estrellas" value="2">
                    <label for="radio4">★</label>
                    <input id="radio5" type="radio" name="estrellas" value="1">
                    <label for="radio5">★</label>
                  </p>
            </center>
            <form class="needs-validation" novalidate method="post" action="../CineJungla">{% csrf_token %}
                <button class="btn btn-secondary btn-lg btn-block" type="submit">Continuar</button>
            </form>
        </div>
    </div>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>

